* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    background-color: #303030;
    color: #fff;
}

.container, .navbar, footer {
    max-width: 1200px;
    margin: 0 auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.logo {
    background: #f7ff00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #db36a4, #f7ff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: clamp(1.5rem, 1.5rem + 10vw, 4rem);
    font-weight: 600;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    min-height: 46px;
    gap: 1em;
    font-size: clamp(1rem, 1rem + 2vw, 2.5rem) ;
    margin-bottom: 1em;
}

.navbar a {
    text-decoration: none;
    white-space: nowrap;
}

.toggle {
    transform: translate(5%, 20%);
    margin-top: -10px;
    z-index: 1001;
}

.toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
}


#toggle-button.active .bar:nth-child(2) {
    opacity: 0;
}

#toggle-button.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#toggle-button.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.menu-links {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    list-style: none;
    gap: 1em;
    position: absolute;
    top: -1000px;
    background: #303030;
    align-items: center;
    left: 0;
    transition: all 0.5s ease;
}
.menu-links.active {
    top: 0;    
    transition: all 0.5s ease;
}
.menu-links.active a {
    padding: 1em 2em;
    transition: all 0.3s ease;
}
.menu-links a:hover {
    color: #f7ff00;
    transition: all 0.3s ease;
}

@media screen and (min-width: 55em) {
    .menu-links {
        position: relative;
        top: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    .toggle {
        display: none;
    }
}
