* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    background-color: #303030;
    color: #fff;
}

.container, .navbar, footer {
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    margin-bottom: 1em;
}

.navbar {

}

.container, footer {
}

#home {
}
@media screen and (min-width: 25rem) {
    #home {
        padding: 5rem 0;
    }
}

.logo {
    text-decoration: none;
}

.colored {
    background: #f7ff00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #db36a4, #f7ff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.colored-2 {
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.c-text {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.navbar {
}

.navbar a {
    text-decoration: none;
    white-space: nowrap;
}

.toggle {
    transform: translate(5%, 20%);
    margin-top: -10px;
    z-index: 1001;
}

.toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
}
.menu-links {
    width: 100%;
    list-style: none;
    position: absolute;
    top: -1000px;
    background: #303030;
    left: 0;
    transition: all 0.5s ease;
}

.menu-links a:hover {
    color: #f7ff00;
    transition: all 0.3s ease;
}


.active .menu-links {
    top: 0;    
    transition: all 0.5s ease;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}
.active .menu-links a {
    transition: all 0.3s ease;
}

.active #toggle-button .bar:nth-child(2) {
    opacity: 0;
}

.active #toggle-button .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.active #toggle-button .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


@media screen and (min-width: 60em) {
    .menu-links {
        top: 0;
    }
    .toggle {
        display: none;
    }
}

.footer-links {
    width: 100%;
}
.footer-links > div {
}
.footer-links a {
    text-decoration: none;
}
footer h3 {
}
.socials {
}
h1, h2 {
}
h1 {
}
h2, .button {
}
h3 {
}
p, button {
}
.button {
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); 
    transition: all 0.35s;
    z-index: 2;
    display: block;
    font-weight: 600;
}

.button:hover {
    box-shadow: inset 200px 0px 0px #FC5C7D;
    color: #fff;
}
a.button {
    text-decoration: none;
}
.img-card {
}
.img-card i {
    background: transparent;
}
.block, .services {
}
.block {
}
.service {
    transition: all 0.35s;
}
.service:hover {
    cursor: pointer;
    transform: scale(1.06);
    transition: all 0.35s;

}
.service h3, .service p {
    background: transparent;
}
.service button {
    border: none;
    border-radius: 6px;
}
.service h3 {
}
.service:first-of-type, .service:last-of-type {
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.service:nth-of-type(2) {
    background: #2196f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f44336, #2196f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f44336, #2196f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.service:nth-of-type(3) {
    background: #ff4b1f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1fddff, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1fddff, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media screen and (min-width: 60em) {
    .services, .block {
    }
    .service, .img-card {
    }
}
@media screen and (min-width: 90em) {
    .services {
    }
    .service {
    }
    #services-block h2 {
    }
    
}